<div class="row row-cols-1 row-cols-md-3 g-4 pb-3">
  <div class="col">
    <div class="card h-100 bg-primary">
      <div class="card-body">
        <h5 class="card-title text-white">Ventes</h5>
        <p class="card-text text-white">Montant total des ventes : 42791 €</p>
        <p class="card-text text-white">Nombres de nouveaux clients : 8 aujourdhui</p>
      </div>
      <div class="card-footer">
        <small class=" text-white">Last updated 1 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-success">
      <div class="card-body">
        <h5 class="card-title text-white">Commandes</h5>
        <p class="card-text text-white">Nombres de commandes : 1016</p>
        <p class="card-text text-white">Panier -> commande en % : 60 %</p>
        <p class="card-text text-white">% fidelisation client : 67</p>
      </div>
      <div class="card-footer">
        <small class=" text-white">Last updated 1 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-danger">
      <div class="card-body">
        <h5 class="card-title text-white">Paniers</h5>
        <p class="card-text text-white">Nombres de paniers : 1574</p>
        <p class="card-text text-white">Valeur d'un panier moyen : 58 €</p>
        <p class="card-text text-white">Visite -> panier en % : 44 % </p>       
        <p class="card-text text-white">% panier abandonnés : 8 aujourdhui</p>
      </div>
      <div class="card-footer">
        <small class=" text-white">Last updated 1 mins ago</small>
      </div>
    </div>
  </div>
  
</div>

<div class="card bg-warning">
    <h5 class="card-header">Top 5 Meilleures ventes du mois</h5>
    <div class="card-body">
      <h5 class="">N°1</h5>
      <p class="card-text">Nom : Croquette chat Miaoumix 1.5Kg</p>
      <p class="card-text">Nombres de ventes/Mois : 65 </p>
      <a routerLink="produits" class="btn btn-secondary">Page Produit</a>
      <hr>
      <h5 class="">N°2</h5>
      <p class="card-text">Nom : Croquette chien bigWoof 5Kg</p>
      <p class="card-text">Nombres de ventes/Mois : 60 </p>
      <a routerLink="produits" class="btn btn-secondary">Page Produit</a>
      <hr>
      <h5 class="">N°3</h5>
      <p class="card-text">Nom : Croquette chat Miaoumix 5Kg</p>
      <p class="card-text">Nombres de ventes/Mois : 58 </p>
      <a routerLink="produits" class="btn btn-secondary">Page Produit</a>
      <hr>
      <h5 class="">N°4</h5>
      <p class="card-text">Nom : Croquette chien woof 1.5Kg</p>
      <p class="card-text">Nombres de ventes/Mois : 55 </p>
      <a routerLink="produits" class="btn btn-secondary">Page Produit</a>
      <hr>
      <h5 class="">N°5</h5>
      <p class="card-text">Nom : Croquette smolWoof 1.5Kg</p>
      <p class="card-text">Nombres de ventes/Mois : 52 </p>
      <a routerLink="produits" class="btn btn-secondary">Page Produit</a>
    </div>
  </div>
