<h2>Tableau des ventes</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">N° vente</th>
        <th scope="col">Date</th>
        <th scope="col">Ref</th>
        <th scope="col">Client</th>
        <th scope="col">Montant</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>01/08/2021</td>
        <td>11179</td>
        <td>Marie Soulard</td>
        <td>17.99 €</td>
      </tr>
      <tr>
        <td>1,002</td>
        <td>01/08/2021</td>
        <td>11145</td>
        <td>Victor Picon</td>
        <td>29.99 €</td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>01/08/2021</td>
        <td>11244</td>
        <td>Teodore Bistro</td>
        <td>79.99 €</td>
      </tr>
      <tr>
        <td>1,004</td>
        <td>02/08/2021</td>
        <td>11256</td>
        <td>Franck Belvédère</td>
        <td>119.99 €</td>
      </tr>
      <tr>
        <td>1,005</td>
        <td>02/08/2021</td>
        <td>11111</td>
        <td>Justine Binouse</td>
        <td>27.99 €</td>
      </tr>
      <tr>
        <td>1,006</td>
        <td>02/08/2021</td>
        <td>11223</td>
        <td>Romain Rébou</td>
        <td>63.99 €</td>
      </tr>
      <tr>
        <td>1,007</td>
        <td>02/08/2021</td>
        <td>11223</td>
        <td>Richard Bacardi</td>
        <td>11.99 €</td>
      </tr>
      <tr>
        <td>1,008</td>
        <td>02/08/2021</td>
        <td>11258</td>
        <td>Pierre Martini</td>
        <td>55.99 €</td>
      </tr>
      <tr>
        <td>1,009</td>
        <td>02/08/2021</td>
        <td>00115</td>
        <td>Roland Chartreuse</td>
        <td>68.99 €</td>
      </tr>
      <tr>
        <td>1,010</td>
        <td>02/08/2021</td>
        <td>10012</td>
        <td>Vivianne Cointreau</td>
        <td>19.99 €</td>
      </tr>
      <tr>
        <td>1,011</td>
        <td>02/08/2021</td>
        <td>11233</td>
        <td>Philippe Malibu</td>
        <td>20.99 €</td>
      </tr>
      <tr>
        <td>1,012</td>
        <td>02/08/2021</td>
        <td>11259</td>
        <td>Martine Vigneron</td>
        <td>39.99 €</td>
      </tr>
      <tr>
        <td>1,013</td>
        <td>02/08/2021</td>
        <td>11211</td>
        <td>Charles Hennessy</td>
        <td>89.99 €</td>
      </tr>
      <tr>
        <td>1,014</td>
        <td>02/08/2021</td>
        <td>11279</td>
        <td>Henry Petillant</td>
        <td>99.99 €</td>
      </tr>
      <tr>
        <td>1,015</td>
        <td>02/08/2021</td>
        <td>11116</td>
        <td>Roger Huitsix</td>
        <td>129.99 €</td>
      </tr>
      <tr>
        <td>1,016</td>
        <td>02/08/2021</td>
        <td>11256</td>
        <td>François Mumm</td>
        <td>9.99 €</td>
      </tr>
    </tbody>
  </table>
</div>
